
<div class="re d-flex">
<div class=" col-6">
<div class="categories">
  <div>
    <button class="btn btn-secondary ">Fullstack</button>
  </div>
  <div>
    <button class="btn btn-secondary ">Fullstack</button>
  </div>
  <div>
    <button class="btn btn-secondary ">Fullstack</button>
  </div>
  <div>
    <button class="btn btn-secondary ">Fullstack</button>
  </div>
  <div>
    <button class="btn btn-secondary ">Fullstack</button>
  </div>
  <div>
    <button class="btn btn-secondary ">Fullstack</button>
  </div>
  <div>
    <button class="btn btn-secondary ">Fullstack</button>
  </div>
  </div>
</div>
<div class="col-6">
  <img  style="width: 100vh; height: 60vh;" src="assets/img/find.png" alt="..."/>
</div>
</div>
<div class="pagination ">
  <div class="container">
    <h3 class="text-center mt-5 mb-5">Angular Basic Pagination Example</h3>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let post of POSTS
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.title }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </div>

</div>


<!-- import router moduels aprés ==> <router-outlet/>  in layout.moduels  -->
<router-outlet/>
