<div class="home">

  <section class="d-flex section-1">
    <div class="div-1 d-block">
      <h1 style="color: rgb(73,80,87);font-size:3.5rem !important; ">Offres d'emploi </h1>
      <h1 class="h1">en informatique</h1>
      <p>Workeep est le site de référence pour trouver des offres d'emploi en informatique en Tunisie. Si vous êtes développeur, vous trouverez sur notre plateforme des annonces de postes de développeur web, mobile, Java, Python...</p>

    </div>
    <div>
      <img src="assets/img/image-newsletter.png" alt="..."/>
    </div>
  </section>
  <section class="section-2">
    <h1 style="color: rgb(73,80,87);font-size:2.5rem !important;">Parcourir les catégories d'emploi</h1>
    <p>Trouvez votre prochain emploi dans le domaine de l'informatique en Tunisie sur Workeep. Que vous soyez développeur web, mobile, data science ou autre, nous avons des opportunités pour votre carrière.</p>


  <div class="categories">
    <div class="d-blcok">
      <button class="btncat" >
        <i class="fa fa-code" aria-hidden="true"></i>
       </button>

  <h4>non categories</h4>

  <p>posts</p>
</div>
<div class="d-blcok">
  <button class="btncat" >
    <i class="fa fa-code" aria-hidden="true"></i>
   </button>

<h4>non categories</h4>

<p>posts</p>
</div>
<div class="d-blcok">
  <button class="btncat" >
    <i class="fa fa-code" aria-hidden="true"></i>
   </button>

<h4>non categories</h4>

<p>posts</p>
</div>
<div class="d-blcok">
  <button class="btncat" >
    <i class="fa fa-code" aria-hidden="true"></i>
   </button>

<h4>non categories</h4>

<p>posts</p>
</div>
<div class="d-blcok">
  <button class="btncat" >
    <i class="fa fa-code" aria-hidden="true"></i>
   </button>

<h4>non categories</h4>

<p>posts</p>
</div>
<div class="d-blcok">
  <button class="btncat" >
    <i class="fa fa-code" aria-hidden="true"></i>
   </button>

<h4>non categories</h4>

<p>posts</p>
</div>
<div class="d-blcok">
  <button class="btncat" >
    <i class="fa fa-code" aria-hidden="true"></i>
   </button>

<h4>non categories</h4>

<p>posts</p>
</div>
<div class="d-blcok">
  <button class="btncat" >
    <i class="fa fa-code" aria-hidden="true"></i>
   </button>

<h4>non categories</h4>

<p>posts</p>
</div>


  </div>

  </section>



</div>
