<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xxl-12 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->

          <div class="row">
            <div class="img col-lg-6 d-none d-lg-block bg-login-image">
              <h2>
                <i class="fa fa-code" aria-hidden="true"></i>
                work
              </h2>
              <img src="assets/img/undraw_Sign_in_re_o58h.png" />
            </div>
            <div class="form col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h2 style="  color: white">Bienvenus</h2>
                  <p style=" font-size: larger; color: white">Connectez-vous pour continuer</p>
                </div>
                <form #f="ngForm">
                  <div class="form-group">

                  <label for="email">email</label>
                    <input
                      type="email"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      aria-describedby="emailHelp"
                      placeholder="E-mail"
                      name="email"
                      #email="ngModel"
                      ngModel
                    />
                  </div>
                  <div class="form-group">
                    <label for="Mot de passe">Mot de passe</label>
                    <input
                      type="password"
                      class="form-control form-control-user"
                      id="exampleInputPassword"
                      placeholder="Mot de passe"
                      name="password"
                      #password="ngModel"
                      ngModel
                    />
                  </div>
                <div class="m">
                  <input style="margin: 1% 1% 1% -12%;" type="checkbox" name="" id="">
                  <p style=" margin: 1% 20% 1% -1%"> Se souvenir de moi</p>
                  <a  style=" margin: 1% -20% 1% 20%;"href="/">Mot de passe oublié ?</a>


                </div>
                <button class="btn">Se connecter</button>
                <p style="color: white; margin: 3% 0%; font-size: larger;">Vous n'avez pas de compte ? <a style="text-decoration: underline;" href="/register">S'inscrire</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
