<div class=" ">
  <h1 class="p-4 mb-2 mt-2">Ajouter une entreprise</h1>

  <form #f="ngForm" (ngSubmit)="Add(f)">
    <div class="row">
      <div class="col-9 bg-white p-5">
        <div class="form-group">
          <label for="exampleFormControlInput1"
            >Nom de l'entreprise
            <span class="badge badge-danger">*</span>

            </label
          >
          <input
            type="text"
            class="form-control"
            ngModel
            #nom_entreprise="ngModel"
            placeholder="nom"
            required
            name="nom_entreprise"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"
            >spécialité
            <span class="badge badge-danger">*</span>

            </label
          >
          <input
            type="text"
            class="form-control"
            ngModel
            #specialite="ngModel"
            placeholder="specialite"
            required
            name="specialite"
          />
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">categories
            <span class="badge badge-danger">*</span>
          </label>
          <select class="form-select" aria-label="Default select example"
          ngModel
          #categories="ngModel"
          name="categories">

            <option value="Jeux vidéo">Jeux vidéo</option>
            <option value="Systèmes embarqués">Systèmes embarqués</option>
            <option value="Cybersécurité">Cybersécurité</option>
            <option value="Mobile">Mobile</option>
            <option value="Data science">Data science</option>
            <option value="DevOps">DevOps</option>
            <option value="Front-end">Front-end</option>
            <option value="Back-end">Back-end</option>
            <option value="Full-stack">Full-stack</option>

          </select>

        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1"
            >Description </label
          >
          <angular-editor
            type="text"
            class="form-control"
            name="description"
            ngModel
            #description="ngModel"
            required
            [config]="editorConfig"
            [placeholder]="'Enter text here...'"
          ></angular-editor>
        </div>
        <div class="row">
          <div class="col-6">

            <div class="form-group">
              <label for="exampleFormControlInput1">telephone
                <span class="badge badge-danger">*</span>
              </label>
              <input
                type="number"
                class="form-control"
                ngModel
                #telephone="ngModel"
                placeholder="telephone"
                required
                name="telephone"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">adresse
                <span class="badge badge-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                ngModel
                #adresse="ngModel"
                placeholder="adresse"
                required
                name="adresse"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">LinkdIn Profile URL</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #linkdInLink="ngModel"
                placeholder="LinkdIn Profile URL"

                name="linkdInLink"
              />
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Facebook Profile URL</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #facebookLink="ngModel"
                placeholder="Facebook Profile URL"

                name="facebookLink"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Facebook Profile URL</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #instagramLink="ngModel"
                placeholder="Instagram  Profile URL"

                name="instagramLink"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 bg-white publish">
        <h2>Publish</h2>
        <hr />
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>
  </form>
</div>
