<div class=" ">
  <h1 class="p-4 mb-2 mt-2">Ajouter une entreprise</h1>

  <form #f="ngForm">
    <div class="row">
      <div class="col-9 bg-white p-5">
        <div class="form-group">
          <label for="exampleFormControlInput1"
            >Nom de l'entreprise
            <span class="badge badge-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            ngModel
            #nom_entreprise="ngModel"
            placeholder="nom"
            required
            name="nom_entreprise"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Description</label>
          <textarea
            type="text"
            class="form-control"
            ngModel
            #description="ngModel"
            placeholder="description"
            required
            name="description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">categories</label>
          <textarea
            type="text"
            class="form-control"
            ngModel
            #categories="ngModel"
            placeholder="description"
            required
            name="description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"
            >Content <span class="badge badge-danger">*</span></label
          >
          <angular-editor
            type="text"
            class="form-control"
            name="Content"
            ngModel
            #Content="ngModel"
            required
            [config]="editorConfig"
            [placeholder]="'Enter text here...'"
          ></angular-editor>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">nom de travail</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #nom_jobs="ngModel"
                placeholder="nom de travail"
                required
                name="nom_jobs"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">telephone</label>
              <input
                type="number"
                class="form-control"
                ngModel
                #telephone="ngModel"
                placeholder="telephone"
                required
                name="telephone"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">adresse</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #adresse="ngModel"
                placeholder="adresse"
                required
                name="adresse"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlInput1">LinkdIn Profile URL</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #linkdInLink="ngModel"
                placeholder="LinkdIn Profile URL"
                required
                name="linkdInLink"
              />
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1">Facebook Profile URL</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #facebookLink="ngModel"
                placeholder="Facebook Profile URL"
                required
                name="facebookLink"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Facebook Profile URL</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #instagramLink="ngModel"
                placeholder="Instagram  Profile URL"
                required
                name="instagramLink"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 bg-white publish">
        <h2>Publish</h2>
        <hr />
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>
  </form>
</div>
