
<nav  class="navbar navbar-expand-lg navbar-light bg-light p-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="margin-left: 60%;"></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="" id="navbarNav">
      <ul class="navbar-nav" style="text-align: center;">

        <li class="nav-item" >
          <a class="nav-link" href="#">
            <i class="fa fa-edit" aria-hidden="true"></i>
            Publier un emploi
          </a>
        </li>


      </ul>
    </div>
  </div>
</nav>



 <div class="sidenav bg-light" [ngClass]="collapsed ? 'sidenav-collapsed': ''" >
  <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()">A</button>
      <div class="logo-text" @fadeInOut *ngIf="collapsed">Angular</div>
      <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
          <i class="fal fa-times close-icon"></i>
      </button>
  </div>
  <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
          <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
          >
              <i class="sidenav-link-icon" [class]="data.icon"></i>
              <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                  {{data.label}}
              </span>
          </a>
      </li>
  </ul>
</div>
