<div>

  <ul  [ngClass]="{'hidden': windowScrolled}" class="nav nav-1 d-flex justify-content-between bg-light">
    <div class="d-flex nav1-1">
      <li class="nav-item">
        <a class="nav-link active" href="#">


          Tunisie: (+216) 55968917</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="#">

          <i class="fa fa-facebook-official" aria-hidden="true" style="color:black"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-linkedin-square" aria-hidden="true" style="color:black"></i>
        </a>
      </li>
    </div>
    <div class="d-flex" *ngIf="share.LoggedIn()==false">
      <li class="nav-item">
        <a class="nav-link active"  href="/login">
          <i class="fa fa-user" aria-hidden="true" style="color:gainsboro"></i>

          Se connecter</a
        >
      </li>
      <li class="nav-item" >
        <a class="nav-link active" href="/register">
          <i class="fa fa-lock" aria-hidden="true" style="color:gainsboro "></i>
          s'inscrire
        </a>
      </li>
    </div>
    <div></div>
  </ul>
 <div [ngClass]="{'fixed': windowScrolled}"  >
  <nav    class="navbar  container-lg  navbar-expand-lg ">
    <div class="container-lg">
      <h2 class="navbar-brand" style="color:var(--main)"      >

        <i class="fa fa-code" aria-hidden="true" style="color:var(--main)"></i>

       <a style="color: var(--main) !important ; text-decoration: none !important;" href="/home"> Work</a></h2>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-center"  >


          <li class="nav-item"   >
            <a class="nav-link" href="/recherche/categories">
              <i class="fa fa-search" aria-hidden="true" style="color:gainsboro;"></i>
               recherche un emploi </a>
          </li>
          <li class="nav-item" >
              <a class="nav-link" href="/puplier/dash">

                <i class="fa fa-list-alt" aria-hidden="true"  style="color:gainsboro;"></i>
                publier un offre d'emploi
              </a>
          </li>

          <li class=" nav-item  dropdown">
            <a class="dropbtn nav-link">Dropdown</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>

         <div class="d-flex display">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <i class="fa fa-user" aria-hidden="true" style="color:gainsboro"></i>

              Se connecter</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <i class="fa fa-lock" aria-hidden="true" style="color:gainsboro "></i>
              s'inscrire
            </a>
          </li>
         </div>
        </ul>
      </div>
    </div>
  </nav>
 </div>
</div>
