.nav1-1{
  margin-right:55%;
}
h2{
  font-size: xxx-large;
  margin-right:15%;

}

.navbar-collapse  li a {
  text-transform: uppercase;
  color: #3e3e3e !important;
  font-weight: 600;

}

.form-select:hover{
  outline:none !important;
  border:none !important;

}
.navbar-collapse .display{
  display:none !important;
}
.nav1-1 , a{
  color:gray !important;
}

.navbar{
  background-color:#fff;




}
.hidden {

  display:none !important
 }
.fixed{
  position:fixed !important;
  background-color:#fff !important;

  box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  top:0; left:0; right:0;
   z-index: 1000;

}



/* Style The Dropdown Button */
.dropbtn {

  color: white;

  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5rem !important;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin:20% 0 0 5% !important;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.name::first-letter {
  /* font-size: 100%; */
  padding: 30% 50%;
  color: #fff;
  background-color:blue;
  border-radius: 100%;


}
/* Change the background color of the dropdown button when the dropdown content is shown */



@media (max-width:992px) {
  .navbar-collapse .display{
    display:block !important;
  }
  .dropdown-content {
    margin:5% 0 0 5% !important;
  }
  .dropdown{
    margin-left: 0rem !important;
  }

}
@media (max-width:1060px) {
  .nav-1{
    display:none !important;
  }
  .dropdown-content {
    margin:5% 0 0 5%  !important ;
  }
  .dropdown{
    margin-left: 0rem !important;
  }

}
